# Ignorar arquivos e pastas específicos
.venv
.DS_Store
.env
__pycache__
.codex

# pastas locais
docs/
plan/
/bkp/
/prof/
/algs4-java/tests/

# datasets oficiais grandes do algs4
/dataset/largeG.txt
/dataset/largeDG.txt
/dataset/largeEWG.txt
/dataset/largeEWD.txt
/dataset/largeUF.txt
