# Ignorar arquivos e pastas específicos
.venv/
.DS_Store
.githooks/
algs4-py/algs4/__pycache__/
algs4-py/algs4/utils/__pycache__

# Arquivos grandes locais (não versionar)
dataset/leipzig1M.txt
dataset/largeEWD.txt
dataset/largeDG.txt
dataset/largeEWG.txt
dataset/largeG.txt

# pastas locais
_local/
livros/
scripts/
planos/